$black: #000;
$white: #fff;
$lightOrange: #ffb300;
$orange: chocolate;
$grey-transparent: rgba(115, 116, 115, 0.1);
$lightGrey: rgb(237, 237, 237);
$darkGrey: rgb(84, 84, 84);
$grey: #2b3240;
$green: green;
$lightGreen: #62D11D;
$lightGreen-transparent: rgba(98, 209, 29, 0.282);
$red: #D11D4E;
$input-border-color: #D12B1D;